#logo {
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-size: 125px;
    margin-bottom: 10px;
    transition: 500ms;
}

#searchdiv {
    transform: top 2s;
    min-width: 0px;
    width: 75%;
    max-width: 1000px;
    border: 4px solid var(--text_colour); 
    border-radius: 40px;
    
    padding-bottom: 5px;
    box-sizing: border-box;
    transition: transform 2s ease-in-out;
}

#mobileSearch {
    margin-inline: auto;
    transition: 0.5s;
    min-width: 0px;
    width: 75%;
    max-width: 1000px;
    border: 4px solid var(--text_colour); 
    border-radius: 40px;
    
    padding-bottom: 5px;
    box-sizing: border-box;
    
    position: absolute;
    z-index: 1;
}

#titleDiv {
    width:100%;
    transform: translateY(0vh);
    
}

#titleDiv h1{
    margin: 10px;
    font-size: 50px;
    margin-inline: 20px;
    text-align: left;
}

#searchContent {
    transform: translateY(40vh);
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: 0.5s;
}

#mobileSearch.searchtop {
    
    transform: translateY(0) !important;
    
    width: 100% !important;
    position: absolute !important;
    border-radius: 15px !important;
    min-width: 0px !important;
    overflow: auto;
    max-width: 100% !important;
}

#searchContent.searchtop {
    transform: translateY(0);
}

.suggestion {
    padding-inline: 10px;
    transition: 100ms;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px;
    font-family: "League Spartan", sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
}

.suggestionIcon {
    height: 20px;
    width: 20px;
    filter: var(--invert_amount);
    margin-top: 10px;
    margin-bottom: 16px;
}

.suggestion p {
    margin: 0px;
    margin-left: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--text_colour);
}

.suggestion:hover {
    background-color: var(--hover_colour);
}

input#search {
    padding-inline: 25px;
    transition: 0.5s;
    flex-grow: 1;
    font-family: "League Spartan", sans-serif;
    font-weight: 900;

    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 25px;
    
    border: 0px;
    
    background-color: transparent;
    
    color: var(--text_colour);
}

#search:focus::placeholder {
    opacity: 0;
}
#search:unfocus::placeholder {
    opacity: 0;
}

#search:focus    {
    outline: none;
}

#mainSearch {
    width: 100%;
}

#container {
    transition : 500ms;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 75%;
    width: 100%;
}

@media screen and (max-width: 655px) {
    input#search {
        font-weight: 800;
        height: 40px;
        font-size: 15px;
        background-color: transparent;

        padding-inline: 15px;
    }
    #searchdiv {
        border-radius: 27px;
    }

    .suggestion {
        padding-inline: 15px;
        height: 30px;
        margin: 0px;
        font-size: 15px;
        border-radius: 10px;
    }
    h1#logo {
        font-size: 75px;
    }

    #mobileLogo {
        font-size: 75px;
    }

    .searchtop {
        
        z-index: 10;
        position:absolute;
        border-radius: 5px !important; 
    }
    #titleDiv h1{
        margin: 10px;
        font-size: 30px;
        margin-inline: 20px;
        text-align: left;
    }
}