html, body {
    width: 100%;
    margin:0;
}

h1#logo {
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-size: 125px;
    margin-bottom: 10px;

}

input#search {
    flex-grow: 1;
    font-family: "League Spartan", sans-serif;
    font-weight: 900;

    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 25px;
    border-radius: 65px;
    border: 4px solid black; 
    padding-inline: 25px;
}

input#search:focus::placeholder {
    opacity: 0;
}
input#search:unfocus::placeholder {
    opacity: 0;
}

input#search:focus    {
    outline: none;
}

.container{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 75%;
    min-width: 500px;

}

form#mainSearch {
    width: 75%;
    max-width: 1000px;
}

@media screen and (max-width: 655px) {
    input#search {
        font-weight: 800;
        height: 40px;
        font-size: 15px;
        border-radius: 30px;

        padding-inline: 15px;
    }
    h1#logo {
        font-size: 75px;
    }
    .container {
        height: 100%;
    }
}