:root {
    --text_colour: black;
    --bg_colour: white;
    --hover_colour: #ededed;
    --invert_amount: invert(0);
    --opposite_invert: invert(1);
    --title_font: "Lilita One", sans-serif;
    @media (prefers-color-scheme: dark) { 
        --text_colour: rgb(214, 214, 214);;
        --bg_colour: #131313;
        --hover_colour: #0a0a0a;
        --invert_amount: invert(0.84);
        --opposite_invert: invert(0.26);
    }
}

html, body {
    width: 100%;
    margin:0;
    background-color: var(--bg_colour);
    color: var(--text_colour);
    transition: 0.5s;
}