#titleDiv {
    top: 30px;
    margin-top: 20px;
    width: 100%;
    border-bottom: 4px solid var(--text_colour);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pfp {
    transition: 0.5s;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin-right: 10px;
    border: 4px solid var(--text_colour);
}

#pfp:hover {
    cursor: pointer;
}

#enlargedclose {
    width: 30px;
    height: 30px;
    filter: var(--invert_amount);
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;

}

#profileDiv {
    padding: 0px;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    bottom: 0;
    margin-inline: auto;

    font-family: "Lilita One", sans-serif;
    font-size: 10;
    font-weight: 100;
} 

#profileName {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 60px;
}

.profileHead {
    text-align: center;
    border-bottom: 4px solid var(--text_colour);
    font-size: 40px;
    width: 30%;
    margin-inline: auto;
    margin-bottom: 5px;
}

#profileNameNF {
    text-align: center;
    font-size: 60px;
}

#pContent {
    margin-inline: 40px;
}

#profileDes {
    text-align: center;
    font-size: 35px;
    margin: 0px;
    
}

#profileDiv h3 {
    font-size: 35px;
}

.profiletabp {
    text-align: center;
    font-size: 25px;
    margin: 0px;
} 

.profileFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileOther {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid  var(--text_colour);
    background-color:  var(--bg_colour);
    border-radius: 10px;
    padding-inline: 10px;
    margin:10px;
    width:100%;
    transition:0.3s;
    filter: drop-shadow(8px 8px);
}

#enlarged {
    overflow: hidden;
    margin-inline: 10px;
    display: block;
    position: fixed;
    border-radius: 20px;
    color: transparent;
    border: 4px solid transparent;
    background-color: transparent;
    color: var(--text_colour);
    
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -50%);
    width: 75%;
}

#enlarged.show {
    transition: 0.5s;
    transform: translate(-50%, -50%);
    border: 4px solid var(--text_colour);
    background-color: var(--bg_colour);
    color: var(--text_colour);
    display: block;
}

#enlargedpfp {
    display: none;
    aspect-ratio: 1;
    width: 600px;
}

#enlarged.pfp {
    padding-inline: 0px;
    width: fit-content !important;
    #enlargedclose {
        background-color: white;
    }
    
    #enlargedpfp {
        display: block;
        
    }
    #enlargedh3, #enlargedp {
        display: none;
    }

}

#enlarged.bye {
    transition: 0.5s;
    transform: translate(300%, -50%);
    border: 4px solid var(--text_colour);
    background-color: var(--bg_colour);
    color: var(--text_colour);
    display: block;
}


#enlargedh3 {
    margin-block: 30px;
    font-size: 100px;
    font-family: "Lilita One", sans-serif;
}

#enlargedp {
    margin-top: 0px;
    font-size: 70px;
    font-family: "Lilita One", sans-serif;
}

#edit {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 80px;
    width:  30px;
    filter: var(--invert_amount)
}

.popbg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    backdrop-filter: blur(10px);
}

.btnholder {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.btn {
    cursor: pointer;
    transition: 250ms;
    font-size: 30px;
    width: 100%;
    background-color: var(--bg_colour);
    border: 4px solid var(--text_colour);
    color: var(--text_colour);
}

.btn:hover {
    background-color: var(--text_colour);
    color: var(--bg_colour);
}

.popup {
    padding: 10px;
    font-family: var(--title_font);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg_colour);
    border: 4px solid var(--text_colour);
}

.popup h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 60px;
}

.popup p {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 100;
}

.bold {
    font-weight: 900;
}

.dropdown {
    position: absolute;
    min-width: 40px;
    background-color: var(--bg_colour);
    border: 4px solid var(--text_colour);
}

.dropdownoption {
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    font-family: var(--title_font);
}

.dropdownoption:hover {
    color: var(--bg_colour);
    background-color: var(--text_colour);
}

.profileOther:hover {
    transform: scale(1.02);
    filter: drop-shadow(10px 10px);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profileFlex {
        flex-direction: column;
        
    }

    .profileOther:hover {
        transform: scale(1.05);
    }
    
    #profileDiv h3 {
        font-size: 25px;
    }

    .profiletabp {
        font-size: 20px;
    } 
}
@media screen and (max-width: 655px) {
    #edit {
        top: 70px;
    }
}
@media screen and (max-width: 655px) {
    #enlargedclose {
        width: 20px;
        height: 20px;
    }
    #enlargedp {
        font-size: 30px;
    }

    #enlargedh3 {
        font-size: 50px
    }

    #pfp {
        width: 50px;
        height: 50px;
    }
    #profileName {
        font-size: 40px;
    }

    .profileHead {
        font-size: 25px;
        width:40%;
    }

    .profileOther {
        width:95%;
    }

    .profileOther:hover {
        transform: scale(1.02);
    }
    
    #profileNameNF {
        font-size: 40px;
    }
    #profileDes {
        font-size: 20px;
    }
    #pContent {
        margin-inline: 20px;
    }
}

@media screen and (max-width: 800px) {
    #enlargedpfp {
        aspect-ratio: 1;
        width: 400px;
    }

}

@media screen and (max-width: 600px) {
    #enlargedpfp {
        aspect-ratio: 1;
        width: 300px;
    }
}